<div
  class="flex min-h-screen 2xl:max-w-screen-2xl 2xl:mx-auto 2xl:border-x-2 2xl:border-gray-200 dark:2xl:border-zinc-700"
>
  <app-left-sidebar
    class="w-1/6 py-10 pl-10 min-w-min lg:fixed border-r border-gray-300 dark:border-zinc-700 hidden md:block"
  ></app-left-sidebar>
  <main class="lg:ml-60 flex-1 py-10 px-5 sm:px-10">
    <router-outlet></router-outlet>
  </main>
  <app-right-sidebar
    class="w-1/5 py-10 px-10 min-w-min border-l border-gray-300 dark:border-zinc-700 hidden lg:block"
  ></app-right-sidebar>
</div>

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user">
    <div class="navbar-nav">
      <a
        class="nav-item nav-link"
        
        >User</a
      >
      <button class="btn btn-link nav-item nav-link" (click)="logout()">
        Logout
      </button>
    </div>
  </nav> -->
